
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    

}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    padding-top: 120px;
    background-image: url("sakura-leaves.gif");
}


#Presentation {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 42px;
    text-decoration: underline solid orange 5px;

}

h2 {
    text-align: center;
    font-size: 32px;
    margin: 50px 0 25px;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 12px;
}

p {
    text-align: center;
    font-size: 1.2rem;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}

ul {
    padding: 20px;
}

li {
    font-size: 1.2rem;
    margin-bottom: 6px;
}

img {
    height: 16px;
    width: 16px;
}

progress {
    width: 100%;
    height: 16px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    background: #ddd;
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, orange, rgb(255, 180, 50));
    border-radius: 12px;
}

progress::-moz-progress-bar {
    background: linear-gradient(90deg, orange, rgb(255, 180, 50));
    border-radius: 12px;
}

.dark progress {
    background: #444;
}

.dark progress::-webkit-progress-value,
.dark progress::-moz-progress-bar {
    background: linear-gradient(90deg, #ffb74d, orange);
}


a {
    color: aliceblue;
}

.ref{
    color: black;
}

.shortcut {
    text-decoration: solid orange 2px;
    font-size: 20px;
    margin-left: 20px;
}

.dark {
    background-color: black;
    color: aliceblue;
    background-image: url("stars.gif"),url("sakura-leaves.gif");
}

.light {
    background-color: skyblue;
    color: black;
}

#clouds.light{
    background-image: url("cloud_animation.gif");
    background-size: cover;
    height: 150px;
    width: 100%;
    top:10px;
    left: 0;
}

#clouds.dark{
    background-image: url("moon.png"),url("sakura-leaves.gif"),url("stars.gif");
    width: 240px ;
    height: 240px ;
    top: 20px;
    left: 10px;
}

#clouds{
    position: absolute;

}


#grass{
    height: 192px;
    width: 100%;
    background-image: url("grass.gif");
}

header {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgb(50, 50, 50);
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
}

header menu {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none; 
    transition: 0.2s ease-in-out;
}

header:hover menu {
    opacity: 1;
    max-height: 200px;
    pointer-events: auto;
}

header {
    padding-bottom: 5px;
}



menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 50);
    gap: 25px;
}

footer {
    display: block;
    z-index: 100;
    background-color: rgb(50, 50, 50);
    padding: 20px;
    text-align: center;
}


section {
    width: 90%;
    max-width: 1150px;
    margin: auto;
    display: grid;
    gap: 35px;
}

.container {
    background-color: aliceblue;
    color: black;
    border: solid 2px orange;
    border-radius: 5px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.06);
}

#Aboutme {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 25px !important;
}

#Aboutme .technical-skills {
    grid-column: 1 / 5 !important;
}


#Portfolio,
#References {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: 10%;
}

#Education,
#Work {
    grid-template-columns: 160px 1fr;
}

#Education > div:first-child,
#Work > div:first-child {
    padding-top: 20px;
}

.contained {
    text-align: center;
    margin-top: 15px;
}

.button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    border-radius: 8px;
    background: #ff8000;
    color: white !important;
    margin-top: 10px;
}


@media (max-width: 800px) {
    menu {
        flex-wrap: wrap;
        gap: 12px;
    }

    #Education,
    #Work {
        grid-template-columns: 1fr;
    }

    body {
        padding-top: 150px;
    }
}
