*{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}
progress{
    background: gray;
    border: solid 3px orange;
    height: 7px;
    border-radius: 10px

}

.acces{
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}
.dark{
    background-color: gray;
    color: aliceblue;
}
#presentation{
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 42px;
    text-decoration: underline solid orange 5px;
}

#tech_skills{
    display: flex;
}
.button{
    color: aliceblue;
    text-decoration: none;
    border: solid 5px orange;
    border-radius: 10px;
    padding:5px;
    font-size: 20px;
    background-color: darkgrey;
    margin-left: 20px ;
}

#aboutme{
    display: flex;
    width: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5px;
    padding-right: 5px; 
    justify-content: center;    
    align-items: center;
}

h2{
    text-align: center;
    font-size: 32px;
}
.container{
    display: grid;
    width:fit-content;
    height: fit-content;
    padding: 5px;
    border: 3px solid orange;
    border-radius: 8px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
h3{
    text-align: center;
    font-size: 2rem;
    
}

a{
    text-decoration:underline solid white;
    color: aliceblue;
}

img{
    height: 16px;
    width: 16px;
}
.no_dot{
    padding: 20px;
    list-style-type: none;
}
ul{
    padding: 20px;
}
li{
    font-size: 1.2rem;
}

header{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: darkgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

footer{
    display: block;
    z-index: 100;
    background-color: black;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}